body{
    background-image:url(hanu.jpg );
    background-size: cover;
    background-attachment: fixed;
    text-align: center;
    font-size: 35px;   
}
.box{
    width: 700px;
    background-image:url(hanu.jpg );
    background-size: cover;
    height: 350px;
    margin: 30px auto;
    color: rgb(157, 146, 137);
    border-radius: 20px 0px 20px 0px;
    border: inline 21px;
    border-width: 30px;
    background-clip:padding-box;
    border:8px inset rgb(130, 123, 123);
    overflow: auto;
}
.box p{
 margin: 20px 40px;
 text-align: center;
 color: rgb(227, 220, 220);
 font-size: 30px;
 text-transform: uppercase;
}
.box h1{
    text-align: center;
    border: #020202 20px;
    color: #0ff407;
    font-size: 60px;
    border-width: 25px;
    text-decoration: underline;
}
h2{
    color: rgb(144, 197, 194);
    font-size: 40px;
}
audio{
    background-attachment: fixed;
}
